<h1>Work breakdown structure</h1>

<% i = 0 %>
<% @rows.each { |r| %>
  <% j = 0 %>
  <div class="d-flex justify-content-around m-5">
  <% r.each { |node| %>
    <div class="rounded bg-success p-3" id="<%= i %>_<%= j %>_<%= node.id %>_<%= node.name %>">
      <%= node.name %>
    </div> 
    <% j += 1 %>
  <% } %>
  </div>
  <% i += 1 %>
<% } %>

<%= javascript_pack_tag 'test' %>