<h1>Work breakdown structure</h1>

    <svg class="defs-only" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
      <symbol id="rainbow">
        <svg viewBox="0 0 100 100" preserveAspectRatio="none" stroke-width="3">
          <path vector-effect="non-scaling-stroke" d="M 0 50 L 90 50" stroke="black"/>
        </svg>
        <svg  preserveAspectRatio="xMaxYMax meet" viewBox="-10 -10 20 20" y="40%" height="20" >
          <path vector-effect="non-scaling-stroke" d="M 0 0 L 10 5 L 0 10 z" />
        </svg>
      </symbol>
    </svg>

<% root_node = @root_n %>
<div class="d-flex flex-wrap align-content-between justify-content-around m-5">
  <div class="rounded bg-primary opacity-90 p-3 mt-5 mb-5 ml-1 mr-1 node" id="n_<%= root_node.id %>">
    <h2><%= root_node.name %></h2>
    <%= form_with(model: root_node) do |form| %>
      <div class="field">
      <%= form.label :complete %>
      <%= form.check_box :complete, onchange: 'this.form.submit();' %>
      </div>
    <% end %>
    <% if root_node.description then %>
    <p><%= root_node.description %></p>
    <% end %>
    <p><%= link_to 'Add subtask', new_node_path(node: {project_id: @project.id, to_links_attributes: [{to_id: root_node.id, project_id: @project.id}]}), class: "btn btn-primary btn-sm text-white"%></p>
  </div>
</div>

<div style="display: grid; grid-template-columns: repeat(<%= @grid[0].length %>, auto); grid-template-rows: repeat(<%= @grid.length %>, auto); ">
<% @grid.each{ |r| %>
  <% r.each{ |c|%>
  <div class="d-flex align-items-center justify-content-center flex-column">
  <% if c == -1 %>
    START
  <% elsif c.class == Integer %>
    <% node = Node.find_by(id: c) %>
    <p><%= node.name %></p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter<%= node.id %>">
    go
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter<%= node.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModal<%= node.id %>CenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


          <div class="rounded <%= node.children_incomplete ? "bg-secondary" : ( node.complete ? "bg-success" : "bg-warning" ) %> opacity-90 p-3 mt-5 mb-5 ml-1 mr-1 node" id="n_<%= node.id %>">
            <h2><%= node.name %></h2>
            <%= form_with(model: node) do |form| %>
              <div class="field">
              <%= form.label :complete %>
              <%= form.check_box :complete, onchange: 'this.form.submit();' %>
              </div>
            <% end %>
            <% if node.description then %>
            <p><%= node.description %></p>
            <% end %>

            <p>
            <%= link_to 'Start Pomodoro', new_pomodoro_path(pomodoro: {node_id: node.id}), class: "btn btn-primary btn-sm text-white m-1"%>
            <%= link_to 'View pomodoros', pomodoros_path(pomodoro: {node_id: node.id}), class: "btn btn-primary btn-sm text-white m-1" %>
            </p>

            <p>
            <%= link_to 'Add subtask', new_node_path(node: {project_id: @project.id, to_links_attributes: [{to_id: node.id, project_id: @project.id}]}), class: "border-white btn btn-warning btn-sm text-black m-1"%>
            <%= link_to 'Edit task', edit_node_path(node), class: "btn btn-warning btn-sm text-black m-1 border-white"%>
            <%= link_to 'Connect to task', new_link_path(link: {from_id: node.id, project_id: @project.id}, anchor: "n_#{node.id}"), class: "border-white btn btn-warning btn-sm text-black m-1" %>
            </p>

            </p>
            <% unless node.from_nodes.exists? %>
            <%= link_to 'Delete this node', node, method: :delete, class: "btn btn-danger btn-sm text-white m-1" %>
            <% end %>
            <div class="dropdown d-inline-block m-1">
              <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Delete links
              </button>
              <div class="dropdown-menu">
                <% if node.to_links.count > 1 %>
                  <% node.to_links.each { |to_link| %>
                    <%= link_to "Delete link to #{to_link.to_node.name}", to_link, method: :delete, class: "btn btn-danger btn-sm text-white link_delete mb-2", id: "l_#{to_link.from_id}_#{to_link.to_id}" %>
                  <% } %>
                <% end %>
                <% node.from_links.each { |from_link| %>
                  <% if from_link.from_node.to_links.count > 1 %>
                    <%= link_to "Delete link from #{from_link.from_node.name}", from_link, method: :delete, class: "btn btn-danger btn-sm text-white link_delete mb-2", id: "l_#{from_link.from_id}_#{from_link.to_id}" %>
                  <% end %>
                <% } %>
              </div>
            </div>
            </p>
          </div>



          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


  <% else %>
    <% if c == ">>>"%>
    <svg width="100%" height="100%">
      <use xlink:href="#rainbow"/>
    </svg>
    <% elsif c == ">> " %>
      <svg xmlns="http://www.w3.org/2020/svg" viewBox="0 0 100 100" id="svg_bg" style="width:100%; height: 100%;">
        <defs>
          <marker id="arrowheadblack" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto" stroke="black" fill="black">
            <path vector-effect="non-scaling-stroke" d="M 0 0 L 10 5 L 0 10 z" />
          </marker>
        </defs>
        <g fill="none" stroke="black" stroke-width="4" marker-end="url(#arrowheadblack)">
          <path vector-effect="non-scaling-stroke" id="e" d="M 0 50 Q 50 50 50 100" stroke="black"/>
        </g>
      </svg>
    <% elsif c == ">v>" %>
      <%= c %>
    <% elsif c == "<<<" %>
      <%= c %>
    <% elsif c == "<< " %>
      <%= c %>
    <% elsif c == "<v<" %>
      <%= c %>
    <% elsif c == " v " %>
      <%= c %>
    <% end %>
  <% end %>
  </div>
  <%}%>
<%}%>
</div>

<svg xmlns="http://www.w3.org/2020/svg" id="svg_bg" style="width:100%; position: absolute; top: 0; z-index: -1;">
  <defs>
    <marker id="arrowheadfuchsia" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto" stroke="fuchsia" fill="fuchsia">
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
    <marker id="arrowheadcyan" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto" stroke="cyan" fill="cyan">
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
    <marker id="arrowheadblack" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto" stroke="black" fill="black">
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
    <marker id="arrowheadorange" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto" stroke="orange" fill="orange">
      <path d="M 0 0 L 10 5 L 0 10 z" />
    </marker>
  </defs>
  <g fill="none" stroke="black" stroke-width="4" marker-end="url(#arrowheadblack)">

  </g>
</svg>

<script>
  const edges = <%= @edges.to_s %>;
  const nodes = <%= @nodes.to_s %>
</script>

<%= javascript_pack_tag 'arrows' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
